body {
  margin: 0px;
  padding: 0px;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,  SimSun, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.clear::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
